<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
</head>
<body>
  <form action="/" method="post">
    <input type="text" name="url" id="url">URL</input>
    <br/>
    <br/>
    <input type="text" name="name" id="name">Name of Video</input>
    <br/>
    <br/>
    <input type="submit" name="submit"/>
  </form>
  <h1>When YOU CLICK SUBMIT WAIT</h1>
  <p>it takes a long time to download a youtube vid. Dont click twice!!!!!!!!!</p>

</body>
</html>
